@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

.animate-gradient {
  animation: gradient 3s linear infinite;
}

/* Graph paper background */
.graph-paper {
  background-color: #faf9f6;
  background-image: radial-gradient(#e6efff 1px, transparent 1px);
  background-size: 20px 20px;
}